:root {
  --background: #0c0d0f;
  --primary: #1d3532;
  --white: #fafafa;
  --light-yellow: #e1ab64;
  --neutral-yellow: #d9c0a0;
  --dark-brown: #75634d;
  --show-brown: #725e3a;
  --button-background: #b3d6cd;
}
